.wrapper {
    display: flex;
    justify-content: center;
}

.head   {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pop {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 5px;
}

.up {
    padding: 10px 0px 10px 10px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.relative {
    position: absolute;
    top: 5px;
    left: -8px;
    width: 288px;
    background-color: aqua;
    max-width: 288px;
    height: 50px;
    z-index: -1;
    border-radius: 5px;
  }

  .box  {
      padding-top: 60px;
      padding-left: 13px;
      display: flex;
  }

  .img {
      border-radius: 8px 8px 0 0px;
  }

  .txt {
      width: 150px;
      color: black;
      font-weight: 700;
      margin: 5px;
  }
  .grey {
      font-size: 12px;
      color: grey;
  }

  .prize    {
      font-weight: 700;
      color: black;
      font-size: 18px;
  }

  .div  {
      padding: 10px;
  }